main {
  justify-content: center;
  align-items: center;
}

.adminHeader {
  padding-bottom: 10%;
}

.admin a:hover{
    text-decoration: none;
}

.adminButton {
  height: 80px;
  width: 185px;
  font-size: 20px;
}

.admin {
  background-color: #F05123;
  padding: 5%;
  border-radius: 10px;
  color: white;
  border: 1px solid;
  border-color: #d0d1d5;
}
