.companyTable, .trainerTable {
  min-width: 600px;
  margin-top: 2%;
  margin-bottom: 8%
}

.inactiveCompanyTable, .selectedCoTable {
  min-width: 400px;
}

.inputPadding {
  padding-bottom: 3%;
}

input[type=text] {
  width: 230px;
}

.submitNew {
  padding-top: 3%;
}

.addCompanyTitle {
  padding-bottom: 3%;
}

main {
  align-items: stretch;
}

.companyTitle, .trainerTitle {
  padding-top: 4%;
}

.companyLocation {
  min-width: 240px;
}

.checkbox label {
  padding-left: 15px;
}

.checkbox input[type=checkbox] {
  margin-left: 0;
}

.marginRight {
  margin-right: 5%
}

.admin input[type=text] {
  margin-right: 20px;
  width: 150px;
}

.admin label {
  padding-right: 5px;
}

.searchResults {
  margin-top: 3%;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #e9ebee;
}

.companyContainer {
  padding: 0 4% 0 4%;
  background-color: white;
  border: #d0d1d5 1px solid;
  min-width: 480px;
}

.noPadding {
  padding: 0;
}

.emptyTable {
  padding-top: 5%;
}
