main{
  justify-content: flex-start;
  align-items: stretch;
  font-style: oblique;
}

.applicantForm{
  margin-top: 2%;
  padding-bottom: 1%;
}

.topText{
  text-align: top;
}
.largeTextArea{
  width: 80%;
  height: 150px;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid #337ab7;
  font-size: 14px;
  resize: none;
}

.paddingAdded{
  padding-top: 1%;
}

.title{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 0;
}

.title2{
  text-align: center;
  margin-right: 27%;
  margin-left: 27%;
  margin-bottom: 2%;
  padding: 2% 0 2% 0;
  border-radius: 10px;
  background-color: #FF7C2E;
  color: white;

}

input {
  border: 1px solid #337ab7;
}

.labelTitle {
  width: 150px;
}

.buttonPadding {
  padding: 3% 0 3% 0;
}

.dropdownLabel {
  padding-right: 6%;
}

.container {
  background-color: white;
  width: 75%;
  border: #d0d1d5 1px solid;
}
