.assessmentContainer {
  text-align: center;
}

.assessmentItem {
  display: inline;
}

.assessmentPrev {
  position: absolute;
  transform: translateY(1%);
  left: 5%;
  padding: 0;
  box-shadow: -2.5px 2.5px 5px #888888;
}

.assessmentPrev img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.assessmentNext {
  position: absolute;
  transform: translateY(1%);
  right: 5%;
  padding: 0;
  box-shadow: 2.5px 2.5px 5px #888888;
}

.assessmentSubmit {
  margin-top: 10px;
  margin-bottom: 20px;
}

.assessmentHeader {
  margin-top: 0px;
  margin-bottom: 5%;
  padding: 3% 0 3% 0;
  border-radius: 10px 10px 0 0;
  border-bottom: #d0d1d5 3px solid;
  background-color: #F05123;
  color: white;
}

.assessmentContent {
  background-color: #fff;
  border-radius: 10px;
  margin: 2% 0 2% 0;
  padding-bottom: 5%;
  min-width: 560px;
  border: 1px solid;
  border-color: #d0d1d5;
  box-shadow: 2.5px 2.5px 5px #888888;
}

.measurement {
  width: 60px;
}

.noteBody {
  width: 80%;
  height: 150px;
  padding: 4px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.shoulderRec {
  font-size: 16px;
}

.displayMeasurement {
  margin: -25%;
  padding-left: 23%;
}

.assessment0, .assessment1, .assessment2, .assessment3, .assessment4, .assessment5, .assessment6, .assessment7, .asseessment8 {
  padding: 0 5% 0 5%;
}
