@font-face {
  font-family: 'Comfortaa';
  src: url("/vendors/fonts/Comfortaa/Comfortaa-Regular.ttf");
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/vendors/fonts/Myriad_Pro_Regular/Myriad_Pro_Regular.ttf");
}

footer {
  position: relative;
  margin-top: -53px;
  clear: both;
  width: 100%;
  height: 53px;
  font-family: "Myriad Pro";
}

.footerContainer {
    background-color: #181818;
    color: #e9ebee;
    padding: 10px;
    text-align: center;
}
