main {
  align-items: stretch;
}

.login {
  text-align: center;
  border-radius: 10px;
  background-color: #F05123;
  opacity: 0.85;
  color: white;
  padding: 0 3% 0 3%;
  height: 60%;
  min-height: 340px;
}

.login h1 {
  padding-top: 2vh;
  padding-bottom: 5vh;
}

.login a {
  display: block;
}

.googleLogin {
  padding-top: 8vh;
  padding-bottom: 3%;
}

.loginBody {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-color: #e9ebee;
  background-image: url(/vendors/images/iStock_000025435822Large.jpg);
  background-size: cover;
}
