main {
  min-height: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding-bottom: 53px;
}

.admin input[type=text] {
  margin-right: 20px;
  width: 150px;
}

.admin label {
  padding-right: 5px;
}

.companyTable {
  min-width: 600px;
  margin-top: 2%;
  margin-bottom: 8%
}

.searchResults {
  margin-top: 3%;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #e9ebee;
}

.companyContainer {
  padding: 0 4% 0 4%;
  background-color: white;
  border: #d0d1d5 1px solid;
}

.companyContainer2 {
  padding: 0 4% 0 4%;
  background-color: white;
  border: #d0d1d5 1px solid;
  box-shadow: 2px 2px 5px #888888;
}


.companyTitle {
  padding-top: 4%;
}

.addCompanyTitle {
  padding-bottom: 3%;
}

.inputPadding {
  padding-bottom: 3%;
}
