@font-face {
  font-family: 'Comfortaa';
  src: url("/vendors/fonts/Comfortaa/Comfortaa-Regular.ttf");
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/vendors/fonts/Myriad_Pro_Regular/Myriad_Pro_Regular.ttf");
}

body {
  font-family: 'Myriad Pro';
  background-color: #e9ebee;
}

main {
  min-height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContainer {
    background-color: #181818;
    color: #e9ebee;
    padding: 30px 40px 30px 50px;
    font-family: 'Comfortaa';
}

.headerTitle {
  display: inline;
}

.logout {
  display: inline;
  float: right;
}

.footerContainer {
    background-color: #181818;
    color: #e9ebee;
    padding: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.assessmentContainer, .footerContainer {
  text-align: center;
}

.assessmentItem {
  display: inline;
}

input[type=radio] {
  margin-right: 4px;
}

label {
  padding-right: 35px;
}

.btn-secondary {
    color: #373a3c;
    background-color: #fff;
    border-color: #ccc;
}

.btn-secondary:hover {
    color: #373a3c;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.assessmentPrev {
  position: absolute;
  transform: translateY(1%);
  left: 5%;
  padding: 0;
}

.assessmentPrev img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.assessmentNext {
  position: absolute;
  transform: translateY(1%);
  right: 5%;
  padding: 0;
}

.assessmentSubmit {
  margin-top: 10px;
  margin-bottom: 20px;
}

.assessmentHeader {
  margin-top: 0px;
  margin-bottom: 5%;
  padding: 3% 0 3% 0;
  border-radius: 10px 10px 0 0;
  border-bottom: #d0d1d5 3px solid;
  background-color: #F05123;
  color: white;
}

.assessmentContent {
  background-color: #fff;
  border-radius: 10px;
  margin: 2% 0 2% 0;
  padding-bottom: 5%;
  min-width: 560px;
  border: 1px solid;
  border-color: #d0d1d5;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

th {
  padding: 0 10px 10px 10px;
  white-space: nowrap;
}

td {
  white-space: nowrap;
}

.measurement {
  width: 60px;
}

input[type=number] {
  position: relative;
  padding-left: 5px;
  border: 1px solid #337ab7;
  top: -6px;
}

input[type=radio] {
  width: 20px;
  height: 20px;
  margin-top: -.1px;
  vertical-align: middle;
}

table {
    margin: 0 auto;
}

.noteBody {
  width: 80%;
  height: 150px;
  padding: 4px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.shoulderRec {
  font-size: 16px;
}
