.assessmentContainer, .headerContainer, .footerContainer {
  text-align: center;
}

.assessmentItem {
  display: inline;
}

input[type=radio] {
  margin-right: 3px;
  margin-left: 40px;
}

.assessmentPrev {
  position:absolute;
  top:20%;
  left:10%;
  height: 200px;
}

.assessmentNext {
  position:absolute;
  top:20%;
  right:10%;
  height: 200px;
}

.assessmentSubmit {
  margin-top: 15px;
}

.btn-secondary {
    color: #373a3c;
    background-color: #fff;
    border-color: #ccc;
}

.btn-secondary:hover {
    color: #373a3c;
    background-color: #e6e6e6;
    border-color: #adadad;
}
