<link rel="stylesheet" href="/styles/stylesheet.css">
<div class="admin">
<h2>Welcome, {{username}}!</h2>
<table class="borderless">
<tr>
  <th><a href="#companies"><button class="btn btn-secondary btn-lg btn-block">Companies</button></a></th>
  <th></th>
  <th><a href="#search"><button class="btn btn-secondary btn-lg btn-block">Search Applicants</button></a></th>
</tr>
<tr><th></th></tr>
<tr>
  <th><a href="#trainers"><button class="btn btn-secondary btn-lg btn-block">Trainers</button></a></th>
  <th></th>
  <th><a href="#applicant"><button class="btn btn-secondary btn-lg btn-block">FMS Screen</button></a></th>
</tr>
</table>
</div>
