<link rel="stylesheet" href="/styles/admin.css">
<div class="admin">
<h2 class="adminHeader text-center">Welcome, {{username}}!</h2>
<table class="borderless">
<tr>
  <th><a href="#companies"><button class="btn btn-secondary btn-lg adminButton">Companies</button></a></th>
  <th></th>
  <th><a href="#trainers"><button class="btn btn-secondary btn-lg adminButton">Trainers</button></a></th>
</tr>
<tr><th></th></tr>
<tr><th></th></tr>
<tr>
  <th><a href="#applicant"><button class="btn btn-secondary btn-lg adminButton">FMS</button></a></th>
  <th></th>
  <th><a href="#search"><button class="btn btn-secondary btn-lg adminButton">Search Applicants</button></a></th>
</tr>
</table>
</div>
