<div class="assessmentContainer">
  <div class="assessmentContent">
    <h1>Assessment Form</h1>
    <h2>Rotary Stability</h2>
    <form>
      <h3 class="assessmentItem">Left:</h3>
      <input type="radio" name="rotary-left" value="1" ng-model="assessment.rotary.left" required>1
      <input type="radio" name="rotary-left" value="2" ng-model="assessment.rotary.left">2
      <input type="radio" name="rotary-left" value="3" ng-model="assessment.rotary.left">3<br>
      <h3 class="assessmentItem">Right:</h3>
      <input type="radio" name="rotary-right" value="1" ng-model="assessment.rotary.right" required>1
      <input type="radio" name="rotary-right" value="2" ng-model="assessment.rotary.right">2
      <input type="radio" name="rotary-right" value="3" ng-model="assessment.rotary.right">3<br>

      <button class="assessmentPrev" ng-click="checkContent6Prev()">Prev</button>
      <button class="assessmentSubmit" ng-click="checkContent6()">Submit</button>
    </form>
  </div>
</div>
