<link rel="stylesheet" href="/styles/assessment.css">
<div class="assessmentContainer">
  <div class="assessmentContent">
  <h1 class="assessmentHeader">Functional Movement Screen</h1>


  <div class="assessmentA" ng-show="showA">
    <form>
      <table class="borderless">
        <tr>
          <th class="dropdownLabel"><h3 class="assessmentItem">Company:</h3></th>

          <td class="alignLeft"><select name="companySelector" ng-model="assessment.selectedCompany" ng-options="company.name for company in companies">


          </select></td>
        </tr>
          <button type="button submit" class="btn btn-secondary assessmentNext" ng-click="checkContentA()"><img class="arrowPic" src="/vendors/images/Arrow.png"/></button>
          <tr>
            <th><h3 class="assessmentItem dropdownLabel">Job:</h3></th>
            <td class="alignLeft"><select ng-click="getJobs()" name="companySelector" ng-model="assessment.selectedJob" ng-options="job.title for job in jobs">
            </select></td>
          </tr>
      </table>
    </form>
  </div>


  <div class="assessment0" ng-show="show0">
    <form>
      <table class="borderless">
        <tr>
          <th><h3 class="assessmentItem">Shin Length (inches):</h3></th>
          <td><input type="number" step="0.1" class="measurement" name="leg-measurement" ng-model="assessment.leg_measurement" required></td>
        </tr>
          <button type="button submit" class="assessmentPrev btn btn-secondary" ng-click="checkContent0Prev()"><img class="arrowPic" src="/vendors/images/Arrow.png"/></button>
          <button type="button submit" class="btn btn-secondary assessmentNext" ng-click="checkContent0()"><img class="arrowPic" src="/vendors/images/Arrow.png"/></button>
          <tr>
            <th><h3 class="assessmentItem">Hand Length (inches):</h3></th>
            <td><input type="number" step="0.1" class="measurement" name="hand-measurement" ng-model="assessment.hand_measurement" required></td>
          </tr>
      </table>
    </form>
  </div>

    <div class="assessment1" ng-show="show1">
      <form>
        <table class="borderless">
          <tr>
            <th><h3 class="assessmentItem">Toe Touch:</h3></th>
            <td><input type="radio" name="toe_touch" ng-value=true ng-model="assessment.toe_touch" required><label for="Y">Y</label></td>
            <td><input type="radio" name="toe_touch" ng-value=false ng-model="assessment.toe_touch"><label for="N">N</label></td>
          </tr>
            <button type="button submit" class="assessmentPrev btn btn-secondary" ng-click="checkContent1Prev()"><img class="arrowPic" src="/vendors/images/Arrow.png"/></button>
            <button type="button submit" class="btn btn-secondary assessmentNext" ng-click="checkContent1()"><img class="arrowPic" src="/vendors/images/Arrow.png"/></button>
          <tr>
            <th><h3 class="assessmentItem">Deep Squat:</h3></th>
            <td><input type="radio" name="squat" value="0" ng-model="assessment.squat" required><label for="0">0</label></td>
            <td><input type="radio" name="squat" value="1" ng-model="assessment.squat"><label for="1">1</label></td>
            <td><input type="radio" name="squat" value="2" ng-model="assessment.squat"><label for="2">2</label></td>
            <td><input type="radio" name="squat" value="3" ng-model="assessment.squat"><label for="3">3</label></td>
          </tr>
        </table>
      </form>
    </div>

    <div class="assessment2" ng-show="show2">
      <form>
        <h2>Hurdle Step</h2>
        <button type="button submit" class="assessmentPrev btn btn-secondary" ng-click="checkContent2Prev()"><img class="arrowPic" src="/vendors/images/Arrow.png"/></button>
        <button type="button submit" class="assessmentNext btn btn-secondary" ng-click="checkContent2()"><img class="arrowPic" src="/vendors/images/Arrow.png"/></button>
        <table class="borderless">
          <tr class="alignLeft">
            <th><h3 class="assessmentItem">Shin Length: </h3></th>
            <td><h3 class="displayMeasurement">{{assessment.leg_measurement}} in.</h3></td>
          </tr>
          <tr class="alignLeft">
            <th><h3 class="assessmentItem">Left Leg Up:</h3></th>
            <td><input type="radio" name="hurdle-left" value="0" ng-model="assessment.hurdle.left" required><label for="0">0</label></td>
            <td><input type="radio" name="hurdle-left" value="1" ng-model="assessment.hurdle.left"><label for="1">1</label></td>
            <td><input type="radio" name="hurdle-left" value="2" ng-model="assessment.hurdle.left"><label for="2">2</label></td>
            <td><input type="radio" name="hurdle-left" value="3" ng-model="assessment.hurdle.left"><label for="3">3</label></td>
          </tr>
          <tr class="alignLeft">
            <th><h3 class="assessmentItem">Right Leg Up:</h3></th>
            <td><input type="radio" name="hurdle-right" value="0" ng-model="assessment.hurdle.right" required><label for="0">0</label></td>
            <td><input type="radio" name="hurdle-right" value="1" ng-model="assessment.hurdle.right"><label for="1">1</label></td>
            <td><input type="radio" name="hurdle-right" value="2" ng-model="assessment.hurdle.right"><label for="2">2</label></td>
            <td><input type="radio" name="hurdle-right" value="3" ng-model="assessment.hurdle.right"><label for="3">3</label></td>
          </tr>
        </table>
      </form>
    </div>

    <div class="assessment3" ng-show="show3">
      <form>
        <h2>In-Line Lunge</h2>
        <button type="button submit" class="assessmentPrev btn btn-secondary" ng-click="checkContent3Prev()"><img class="arrowPic" src="/vendors/images/Arrow.png"/></button>
        <button type="button submit" class="assessmentNext btn btn-secondary" ng-click="checkContent3()"><img class="arrowPic" src="/vendors/images/Arrow.png"/></button>
        <table class="borderless">
          <tr class="alignLeft">
            <th><h3 class="assessmentItem">Shin Length: </h3></th>
            <td><h3 class="displayMeasurement">{{assessment.leg_measurement}} in.</h3></td>
          </tr>
          <tr class="alignLeft">
            <th><h3 class="assessmentItem">Left Leg Forward:</h3></th>
            <td><input type="radio" name="lunge-left" value="0" ng-model="assessment.lunge.left" required><label for="0">0</label></td>
            <td><input type="radio" name="lunge-left" value="1" ng-model="assessment.lunge.left"><label for="1">1</label></td>
            <td><input type="radio" name="lunge-left" value="2" ng-model="assessment.lunge.left"><label for="2">2</label></td>
            <td><input type="radio" name="lunge-left" value="3" ng-model="assessment.lunge.left"><label for="3">3</label></td>
          </tr>
          <tr class="alignLeft">
            <th><h3 class="assessmentItem">Right Leg Forward:</h3></th>
            <td><input type="radio" name="lunge-right" value="0" ng-model="assessment.lunge.right" required><label for="0">0</label></td>
            <td><input type="radio" name="lunge-right" value="1" ng-model="assessment.lunge.right"><label for="1">1</label></td>
            <td><input type="radio" name="lunge-right" value="2" ng-model="assessment.lunge.right"><label for="2">2</label></td>
            <td><input type="radio" name="lunge-right" value="3" ng-model="assessment.lunge.right"><label for="3">3</label></td>
          </tr>
        </table>
      </form>
    </div>

    <div class="assessment4" ng-show="show4">
      <form>
        <h2>Shoulder Mobility</h2>
        <button type="button submit" class="assessmentPrev btn btn-secondary" ng-click="checkContent4Prev()"><img class="arrowPic" src="/vendors/images/Arrow.png"/></button>
        <button type="button submit" class="assessmentNext btn btn-secondary" ng-click="checkContent4()"><img class="arrowPic" src="/vendors/images/Arrow.png"/></button>
        <table class="borderless">
          <tr class="alignLeft">
            <th><h3 class="assessmentItem">Hand Length: </h3></th>
            <td><h3 class="displayMeasurement">{{assessment.hand_measurement}} in.</h3></td>
          </tr>
          <tr class="alignLeft">
            <th><h3 class="assessmentItem">Top Left (inches):</h3></th>
            <td><input type="number" step="0.1" class="measurement" name="shoulder-measurement" ng-model="assessment.shoulder.top_left" required></td>
          </tr>
          <tr class="alignLeft">
            <th><h3 class="assessmentItem">Top Right (inches):</h3></th>
            <td><input type="number" step="0.1" class="measurement" name="shoulder-measurement" ng-model="assessment.shoulder.top_right" required></td>
          </tr>
          <tr class="alignLeft">
            <th><h3 class="assessmentItem">Left Impingement:</h3></th>
            <td><input type="radio" name="shoulder-left-impingement" ng-value="true" ng-model="assessment.shoulder.left_impingement" required><label for="Y">Y</label></td>
            <td><input type="radio" name="shoulder-left-impingement" ng-value="false" ng-model="assessment.shoulder.left_impingement"><label for="N">N</label></td>
          </tr>
          <tr class="alignLeft">
            <th><h3 class="assessmentItem">Right Impingement:</h3></th>
            <td><input type="radio" name="shoulder-right-impingement" ng-value="true" ng-model="assessment.shoulder.right_impingement" required><label for="Y">Y</label></td>
            <td><input type="radio" name="shoulder-right-impingement" ng-value="false" ng-model="assessment.shoulder.right_impingement"><label for="N">N</label></td>
          </tr>
          <tr class="alignLeft">
            <th><h3 class="assessmentItem">Left Mobility:</h3></th>
            <td><input type="radio" name="shoulder-left" value="0" ng-model="assessment.shoulder.left" required><label for="0">0</label></td>
            <td><input type="radio" name="shoulder-left" value="1" ng-model="assessment.shoulder.left"><label for="1">1</label></td>
            <td><input type="radio" name="shoulder-left" value="2" ng-model="assessment.shoulder.left"><label for="2">2</label></td>
            <td><input type="radio" name="shoulder-left" value="3" ng-model="assessment.shoulder.left"><label for="3">3</label></td>
          </tr>
          <tr class="alignLeft">
            <th><h3 class="assessmentItem">Right Mobility:</h3></th>
            <td><input type="radio" name="shoulder-right" value="0" ng-model="assessment.shoulder.right" required><label for="0">0</label></td>
            <td><input type="radio" name="shoulder-right" value="1" ng-model="assessment.shoulder.right"><label for="1">1</label></td>
            <td><input type="radio" name="shoulder-right" value="2" ng-model="assessment.shoulder.right"><label for="2">2</label></td>
            <td><input type="radio" name="shoulder-right" value="3" ng-model="assessment.shoulder.right"><label for="3">3</label></td>
          </tr>
        </table>
        <h3 class="shoulderRec" ng-show="showShoulderRec">{{shoulderRec}}</h3>
        <button type="button" class="btn btn-secondary" ng-click="getShoulderScore()">Get Recommended Mobility Scores</button>
      </form>
    </div>

    <div class="assessment5" ng-show="show5">
      <form>
        <h2>Active Straight Leg Raise</h2>
        <button type="button submit" class="assessmentPrev btn btn-secondary" ng-click="checkContent5Prev()"><img class="arrowPic" src="/vendors/images/Arrow.png"/></button>
        <button type="button submit" class="assessmentNext btn btn-secondary" ng-click="checkContent5()"><img class="arrowPic" src="/vendors/images/Arrow.png"/></button>
        <table class="borderless">
          <tr class="alignLeft">
            <th><h3 class="assessmentItem">Left:</h3></th>
            <td><input type="radio" name="leg_raise-left" value="0" ng-model="assessment.leg_raise.left" required><label for="0">0</label></td>
            <td><input type="radio" name="leg_raise-left" value="1" ng-model="assessment.leg_raise.left"><label for="1">1</label></td>
            <td><input type="radio" name="leg_raise-left" value="2" ng-model="assessment.leg_raise.left"><label for="2">2</label></td>
            <td><input type="radio" name="leg_raise-left" value="3" ng-model="assessment.leg_raise.left"><label for="3">3</label></td>
          </tr>
          <tr class="alignLeft">
            <th><h3 class="assessmentItem">Right:</h3></th>
            <td><input type="radio" name="leg_raise-right" value="0" ng-model="assessment.leg_raise.right" required><label for="0">0</label></td>
            <td><input type="radio" name="leg_raise-right" value="1" ng-model="assessment.leg_raise.right"><label for="1">1</label></td>
            <td><input type="radio" name="leg_raise-right" value="2" ng-model="assessment.leg_raise.right"><label for="2">2</label></td>
            <td><input type="radio" name="leg_raise-right" value="3" ng-model="assessment.leg_raise.right"><label for="3">3</label></td>
          </tr>
        </table>
      </form>
    </div>

    <div class="assessment6" ng-show="show6">
      <form>
        <button type="button submit" class="assessmentPrev btn btn-secondary" ng-click="checkContent6Prev()"><img class="arrowPic" src="/vendors/images/Arrow.png"/></button>
        <button type="button submit" class="assessmentNext btn btn-secondary" ng-click="checkContent6()"><img class="arrowPic" src="/vendors/images/Arrow.png"/></button>
        <table class="borderless">
          <tr class="alignLeft">
            <th><h3 class="assessmentItem">Prone Press Up - pain?</h3></th>
            <td><input type="radio" name="press_up" ng-value="true" ng-model="assessment.prone_press_up" required><label for="Y">Y</label></td>
            <td><input type="radio" name="press_up" ng-value="false" ng-model="assessment.prone_press_up"><label for="N">N</label></td>
          </tr>
          <tr class="alignLeft">
            <th><h3 class="assessmentItem">Trunk Stability Push Up:</h3></th>
            <td><input type="radio" name="push_up" value="0" ng-model="assessment.push_up" required><label for="0">0</label></td>
            <td><input type="radio" name="push_up" value="1" ng-model="assessment.push_up"><label for="1">1</label></td>
            <td><input type="radio" name="push_up" value="2" ng-model="assessment.push_up"><label for="2">2</label></td>
            <td><input type="radio" name="push_up" value="3" ng-model="assessment.push_up"><label for="3">3</label></td>
          </tr>
        </table>
      </form>
    </div>

    <div class="assessment7" ng-show="show7">
      <form>
        <h2>Rotary Stability Quadruped</h2>
        <button type="button submit" class="assessmentPrev btn btn-secondary" ng-click="checkContent7Prev()"><img class="arrowPic" src="/vendors/images/Arrow.png"/></button>
        <button type="button submit" class="assessmentNext btn btn-secondary" ng-click="checkContent7()"><img class="arrowPic" src="/vendors/images/Arrow.png"/></button>
        <table class="borderless">
          <tr class="alignLeft">
            <th><h3 class="assessmentItem">Kneeling Lumbar Flexion - pain?</h3></th>
            <td><input type="radio" name="lumbar-flexion" ng-value="true" ng-model="assessment.rotary.lumbar_flexion" required><label for="Y">Y</label></td>
            <td><input type="radio" name="lumbar-flexion" ng-value="false" ng-model="assessment.rotary.lumbar_flexion"><label for="N">N</label></td>
          </tr>
          <tr class="alignLeft">
            <th><h3 class="assessmentItem">Left Up:</h3></th>
            <td><input type="radio" name="rotary-left" value="0" ng-model="assessment.rotary.left" required><label for="0">0</label></td>
            <td><input type="radio" name="rotary-left" value="1" ng-model="assessment.rotary.left"><label for="1">1</label></td>
            <td><input type="radio" name="rotary-left" value="2" ng-model="assessment.rotary.left"><label for="2">2</label></td>
            <td><input type="radio" name="rotary-left" value="3" ng-model="assessment.rotary.left"><label for="3">3</label></td>
          </tr>
          <tr class="alignLeft">
            <th><h3 class="assessmentItem">Right Up:</h3></th>
            <td><input type="radio" name="rotary-right" value="0" ng-model="assessment.rotary.right" required><label for="0">0</label></td>
            <td><input type="radio" name="rotary-right" value="1" ng-model="assessment.rotary.right"><label for="1">1</label></td>
            <td><input type="radio" name="rotary-right" value="2" ng-model="assessment.rotary.right"><label for="2">2</label></td>
            <td><input type="radio" name="rotary-right" value="3" ng-model="assessment.rotary.right"><label for="3">3</label></td>
          </tr>
        </table>
      </form>
    </div>

    <div class="assessment8" ng-show="show8">
      <form>
        <h2>Assessment Notes</h2>
        <button type="button submit" class="assessmentPrev btn btn-secondary" ng-click="checkContent8Prev()"><img class="arrowPic" src="/vendors/images/Arrow.png"/></button>
        <textarea class="noteBody" ng-model="assessment.notes"></textarea>
        <button type="button submit" class="assessmentSubmit btn btn-secondary" ng-click="checkContent8()">Submit All Results</button>
      </form>
    </div>

  </div>
</div>
