<div class="assessmentContainer">
  <div class="assessmentContent">
    <h1>Assessment Form</h1>
    <h2>In-Line Lunge</h2>
    <form>
      <h3 class="assessmentItem">Left:</h3>
      <input type="radio" name="lunge-left" value="1" ng-model="assessment.lunge.left" required>1
      <input type="radio" name="lunge-left" value="2" ng-model="assessment.lunge.left">2
      <input type="radio" name="lunge-left" value="3" ng-model="assessment.lunge.left">3<br>
      <h3 class="assessmentItem">Right:</h3>
      <input type="radio" name="lunge-right" value="1" ng-model="assessment.lunge.right" required>1
      <input type="radio" name="lunge-right" value="2" ng-model="assessment.lunge.right">2
      <input type="radio" name="lunge-right" value="3" ng-model="assessment.lunge.right">3<br>

      <button class="assessmentPrev" ng-click="checkContent3Prev()">Prev</button>
      <button class="assessmentNext" ng-click="checkContent3()">Next</button>
    </form>
  </div>
</div>
