<link rel="stylesheet" href="/styles/adminViews.css">
<div class="companyContainer">
<h2 class="companyTitle">Active Companies</h2>
<div class="admin">
  <div>
    <a ng-click="toggleAddCompanyModal()" class="link">Add New Company</a>
    <br>
    <a ng-click="inactiveCoView()" class="link">View Inactive Companies</a>
  </div>

  <!-- list of companies -->
  <h4 class="emptyTable" ng-if="activeCompanies.length === 0">No companies have been added yet.</h4>
  <table ng-if="activeCompanies.length > 0" class="table table-striped table-bordered companyTable">
    <thead>
            <tr>
              <th><b>Company</b></th>
              <th><b>Contact</b></th>
              <th></th>
              <th></th>
            </tr>
    </thead>
    <tbody>
      <tr id="companyList" ng-repeat="company in activeCompanies | orderBy:'name'">
            <td id="company" name="name">{{company.name}}</td>
            <td id="company" name="email">{{company.email}}</td>
            <td class="text-center"><button ng-click="toggleEditCompanyModal(company)">Edit</button></td>
            <td class="text-center"><button ng-click="selectedCoRedirect(company)">Jobs</button></td>
      </tr>
    </tbody>
  </table>

  <modal-dialog show="addCompanyModal.modalShown" width="50%" height="50%">
    <form class="addCompany">
     <ul>
      <div class="row addCompanyTitle">
        <li>
          <h2>Add A New Company</h2>
        </li>
      </div>
      <div class="row inputPadding">
        <li>
          <label class="col-xs-4" for="name">Name:</label>
          <input type="text" name="name" ng-model="newCompany.name" required>
        </li>
      </div>
      <div class="row inputPadding">
        <li>
          <label class="col-xs-4" for="location">Location:</label>
          <input type="text" name="location" ng-model="newCompany.location" required>
        </li>
      </div>
      <div class="row inputPadding">
        <li>
          <label class="col-xs-4" for="email">Contact Email:</label>
          <input type="text" name="email" ng-model="newCompany.email" required>
        </li>
      </div>
      <div class="row col-xs-4 submitNew">
        <button type="submit" ng-click="addCompany(newCompany)">Submit</button>
      </div>
    </ul>
    </form>
  </modal-dialog>

  <modal-dialog show="editCompanyModal.modalShown" width="50%" height="50%">
    <form class="editCompany">
      <ul>
        <div class="row addCompanyTitle">
          <li>
            <h2>Edit {{company.name}}'s Information</h2>
          </li>
        </div>
        <div class="row inputPadding">
          <li>
            <label class="col-xs-4" for="name">Name:</label>
            <input type="text" name="name" ng-model="company.name">
          </li>
        </div>
        <div class="row inputPadding">
          <li>
            <label class="col-xs-4" for="location">Location:</label>
            <input type="text" name="location" ng-model="company.location">
          </li>
        </div>
        <div class="row inputPadding">
          <li>
            <label class="col-xs-4" for="email">Contact Email:</label>
            <input type="text" name="email" ng-model="company.email" required>
          </li>
        </div>
        <div class="row col-xs-6 submitNew">
          <button type="update" class="marginRight" ng-click="updateCompany(company)">Update</button>
          <button ng-click="deactivateCompany(company)">Remove</button>
        </div>
    </ul>
  </form>
  </modal-dialog>
</div>
</div>
