<div class="companyContainer">
<h2>Companies</h2>
<!-- TODO: nav bar-->
<div>
  <a ng-click="toggleAddCompanyModal()">Add New Company</a>
  <br>
  <a ng-click="inactiveCoView()">View Inactive Companies</a>
</div>
  <!-- list of companies -->
  <div class="col-md-4" ng-repeat="company in activeCompanies">
    <h3>{{company.name}}</h3>
    <ul>
      <li>
        <!-- edit opens edit company modal -->
        <button ng-click="toggleEditCompanyModal(company)">Edit</button>
      </li>
      <li>
        <!-- links to slectedco.html -->
        <button ng-click="selectedCoRedirect(company)">{{company.name}} Jobs</button>
      </li>
    </ul>
  </div>
</div>

  <modal-dialog show="addCompanyModal.modalShown" width="50%" height="50%">
    <h2>Add A New Company</h2>
    <form class="addCompany">
     <ul>
      <li>
        <label for="name">Name:</label>
        <input type="text" name="name" ng-model="newCompany.name">
      </li>
      <li>
        <label for="location">Location:</label>
        <input type="text" name="location" ng-model="newCompany.location">
      </li>
      <li>
        <label for="email">Contact Email:</label>
        <input type="text" name="email" ng-model="newCompany.email" required>
        <h6>*company email required</h6>
      </li>
        <button type="submit" ng-click="addCompany(newCompany)">Submit</button>
    </ul>
    </form>
  </modal-dialog>

  <modal-dialog show="editCompanyModal.modalShown" width="50%" height="50%">
    <h2>Edit {{company.name}}</h2>
    <form class="editCompany">
      <ul>
      <li>
        <label for="name">Name:</label>
        <input type="text" name="name" ng-model="company.name">
      </li>
      <li>
        <label for="location">Location:</label>
        <input type="text" name="location" ng-model="company.location">
      </li>
      <li>
        <label for="email">Contact Email:</label>
        <input type="text" name="email" ng-model="company.email" required>
        <h6>*contact email required</h6>
      </li>
        <button type="update" ng-click="updateCompany(company)">Update</button>
        <button ng-click="deactivateCompany(company)">Remove</button>
    </ul>
  </form>
  </modal-dialog>
