<link rel="stylesheet" href="/styles/search.css">
<div class="companyContainer2">

<div class="admin">
  <h2 class="companyTitle">Search Applicants</h2>
  <form>
    <label for="first_name">First Name:</label>
            <input type="text" class="searchApplicantFirstName" name="first_name" ng-model="first_name" required/>
            <label for="last_name">Last Name:</label>
            <input type="text" class="searchApplicantLastName" name="last_name" ng-model="last_name" required/>
            <button ng-click="getApplicant()">Search</button>
  </form>

<h4 class="searchResults companyTable">{{noResultMessage}}</h4>
<table class="table table-striped table-bordered searchResults companyTable" ng-show="results">
  <thead>
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
  </thead>
  <tbody>
      <tr id="applicantList" ng-repeat="applicant in applicants | orderBy:'name'">
            <td id="applicant" name="name">{{applicant.fullname}}</td>
            <td class="text-center"><button ng-click="toggleViewApplicantModal(applicant)">View Results</button></td>
      </tr>
    </tbody>
  </table>

   <modal-dialog show="viewApplicantModal.modalShown" width="45%" height="45%">
     <ul>
       <div class="row addCompanyTitle">
         <li>
            <h2>Results for {{applicant.fullname}}</h2>
         </li>
       </div>
       <div class="row inputPadding">
         <li>
           <p class="col-xs-12">Applied for: {{applicant.title}}, {{applicant.company_name}}</p>
         </li>
       </div>
       <div class="row inputPadding">
         <li>
           <p class="col-xs-12">Assessed by: {{applicant.trainer_name}}</p>
         </li>
       </div>
       <div class="row inputPadding">
         <li>
           <p class="col-xs-12">Date of screening: {{applicant.date | date: 'MM/dd/yyyy'}}</p>
         </li>
       </div>
       <div class="row inputPadding">
         <li>
           <p class="col-xs-12">Passing score: {{applicant.test_pass}}</p>
         </li>
       </div>
    </ul>
  </modal-dialog>
</div>
</div>
