<link rel="stylesheet" href="/styles/adminViews.css">
<div class="companyContainer">
<div class="admin">
<h2 class="trainerTitle">Trainers</h2>
<!--nav bar-->
<a ng-click="toggleAddTrainerModal()" class="link">Add New Trainer</a>

  <!-- list of trainers -->
  <table class="table table-striped table-bordered trainerTable">
    <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th></th>
            </tr>
    </thead>
    <tbody>
        <tr id="trainerList" ng-repeat="trainer in trainers | orderBy:'name'">
              <td id="trainer" name="name">{{trainer.name}}</td>
              <td id="trainer" name="email">{{trainer.email}}</td>
              <td class="text-center"><button ng-click="toggleEditTrainerModal(trainer)">Edit</button></td>
        </tr>
      </tbody>
    </table>

  <modal-dialog show="addTrainerModal.modalShown" width="50%" height="50%">
    <form class="addTrainer">
     <ul>
       <div class="row addCompanyTitle">
          <li>
            <h2>Add A New Trainer</h2>
          </li>
       </div>
       <div class="row inputPadding">
         <li>
           <label class="col-xs-4" for="name">Full Name:</label>
           <input type="text" name="name" ng-model="newTrainer.name" required>
         </li>
       </div>
       <div class="row inputPadding">
         <li>
           <label class="col-xs-4" for="email">Email:</label>
           <input type="text" name="email" ng-model="newTrainer.email" class="text-box" required>
         </li>
       </div>
       <div class="row inputPadding">
         <li>
           <div class="checkbox">
             <label class="col-xs-4" for="admin">Admin?</label>
             <input type="checkbox" value="admin" ng-checked="trainer.admin" ng-model="newTrainer.admin">
           </div>
         </li>
       </div>
       <div class="row col-xs-4 submitNew">
        <button type="submit" ng-click="addTrainer(newTrainer)">Submit</button>
      </div>
    </ul>
    </form>
  </modal-dialog>

  <modal-dialog show="editTrainerModal.modalShown" width="50%" height="50%">
    <form class="editTrainer">
      <ul>
        <div class="row addCompanyTitle">
           <li>
             <h2>Edit {{trainer.name}}'s Information</h2>
           </li>
        </div>
        <div class="row inputPadding">
          <li>
            <label class="col-xs-4" for="name">Name:</label>
            <input type="text" name="name" ng-model="trainer.name">
          </li>
        </div>
        <div class="row inputPadding">
          <li>
            <label class="col-xs-4" for="email">Email:</label>
            <input type="text" name="email" ng-model="trainer.email" class="text-box" required>
          </li>
        </div>
        <div class="row inputPadding">
          <li>
            <div class="checkbox">
              <label class="col-xs-4" for="admin">Admin?</label>
              <input type="checkbox" value="admin" ng-checked="trainer.admin" ng-model="trainer.admin">
            </div>
          </li>
        </div>
        <div class="row col-xs-6 submitNew">
          <button type="update" class="marginRight" ng-click="updateTrainer(trainer)">Update</button>
          <button ng-click="deleteTrainer(trainer)">Remove</button>
        </div>
    </ul>
  </form>
  </modal-dialog>
</div>
</div>
